<%- include("partials/header") %> 


      <div class="row sign">
        <div>
          <div>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Password">
          <button type="button" class="btn btn-danger">Confirm</button>
          </div>

        </div>
      </div>

<%- include("partials/footer") %>       
    

