<%- include("partials/header") %> 

    <div class="row h-100 d-flex justify-content-center flex-column align-items-center">
      <div class="col-10 col-lg-8">
        <h2 class="text-white text-start mt-5">Select tickets :</h2>
      </div>
      <!-- Aller retour -->
      <div class="col-10 col-lg-8">
        <div class="form-check form-switch d-flex align-items-center ms-3">
          <input class="form-check-input" type="checkbox" role="switch" id="return-oneway" checked>
          <label id="label" class="form-check-label text-white ms-3" for="return-oneway">Return</label>
        </div>
      </div>
      <!-- end -->
      <!-- <div class="col-10 col-lg-8 d-flex justify-content-center flex-column align-items-center"> -->
        <form class="d-flex flex-row my-3" action="/search-journey" method="post">
            <div class="mx-3">
              <label class="form-label text-white ms-3" for="departure">From</label>
              <input name="departure" id="departure" type="text" class="form-control" placeholder="Paris, Marseille..">
            </div>
            <div class="mx-3">
              <label class="form-label text-white ms-3" for="arrival">To</label>
              <input name="arrival" id="arrival" type="text" class="form-control" placeholder="Lille, Nantes..">
            </div>
            <div class="mx-3">
              <label class="form-label text-white ms-3" for="departureDate">Go</label>
              <input name="departureDate" id="departureDate" type="date" class="form-control">
            </div>
            <div class="mx-3" id="return">
              <label class="form-label text-white ms-3" for="returnDate">Return</label>
              <input name="returnDate" id="returnDate" type="date" class="form-control">
            </div>
            <div class="mx-3 d-flex align-items-end">
              <button type="submit" class="btn btn-danger">Go</button>
            </div>
          </form>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-2 d-flex justify-content-center">
        <img src="images/landmark.png" class="img-fluid mt-5" id="landmark-img" alt="city">
      </div>
    </div>

<%- include("partials/footer") %>       
    

