<%- include("partials/header") %> 

    <div class="row d-flex justify-content-center">
      <div class="col-8 text-center">
        <h2 class="text-white text-center mt-5">Oops ! No trains available...</h2>
        <a href="/home" class="btn btn-danger">Home</a>
      </div>
    </div>  

<%- include("partials/footer") %>       
    

