body {
  height: 100vh;
  background: linear-gradient(180deg, rgb(194, 216, 245), rgb(40, 119, 223));
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} 

#landmark-img {
  width: 200px;
}
#connection {
  color : red;
  font-weight: bolder;
}
.journey-price {
  margin: 0;
}
.sign {
  height : 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formulaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.saisie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin : 2%;
  padding : 2%;
}

h3 {
  color: white;
}

.text {
  margin : 7%;
}

.listeTrips {
  height : 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin : 5%;
}

.mylistrip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.table{
  margin-top : 2%;
}

h2 {
  color:white;
  font-weight: bolder;
}

.basket{
  margin-right : 20px;
  margin-top : 5px;
}

.offcanvas-body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin : 5%px;
  text-align: center;
  height : 100%;
  border : 1px black solid;
}

/* .offcanvas {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin : 5%px;
  text-align: center;
} */

#checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 100%;
  border : solid black 1px;
}
